const { getDefaultConfig } = require('expo/metro-config');

const config = getDefaultConfig(__dirname);

// Tell Metro to use the React Native build of pusher-js
config.resolver.resolveRequest = (context, moduleName, platform) => {
  if (moduleName === 'pusher-js') {
    return {
      filePath: require.resolve('pusher-js/react-native'),
      type: 'sourceFile',
    };
  }
  return context.resolveRequest(context, moduleName, platform);
};

module.exports = config;